<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Bahtera C(hatbot) Express</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/chatbot/chatbot.css') }}"
        />
    </head>
    <body>
        {% include 'chatbot/chatbot.html' %}
        <!--  -->
        <script src="{{ url_for('static', filename='js/chatbot/chatbot.js') }}"></script>
    </body>
</html>
