<!-- Tailwind css -->
<!-- <link
            rel="stylesheet"
            href="{{url_for('static',filename='dist/output.css')}}"
        /> -->

<!-- Chatbot -->
<button class="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-rounded">close</span>
</button>
<div class="chatbot">
    <header>
        <h2>BOT TEST</h2>
        <span class="close-btn material-symbols-rounded">close</span>
    </header>
    <ul class="chatbox">
        <li class="chat incoming">
            <span class="material-symbols-rounded">smart_toy</span>
            <p>Halo, selamat datang!<br />Ada yang bisa saya bantu?</p>
        </li>
    </ul>
    <div class="chat-input">
        <textarea placeholder="Ketik pesan..." required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
</div>
<!-- Script -->
<!-- <script src="/node_modules/flowbite/dist/flowbite.min.js"></script> -->
