{% extends 'admin/base.html' %}

<!-- Title -->
{% block title %}Tarif Pengiriman{% endblock %}

<!-- Style -->
{% block style %}
<link
    rel="stylesheet"
    href="{{url_for('static',filename='css/admin/dashboard.css')}}"
/>
{% endblock %}

<!-- Judul header -->
{% block judul %}Tarif Pengiriman{% endblock %}
<!-- Konten -->
{% block konten %}
<div class="sm:p-5">
    <!-- Container utama -->
    <div class="bg-white sm:rounded-xl shadow sm:p-6 sm:mb-6">
        <div class="bg-white sm:rounded-xl shadow p-6">
            <div
                class="flex justify-between items-center flex-col gap-2.5 sm:flex-row me-2 mb-5"
            >
                <h2 class="text-lg font-semibold text-gray-800">
                    Daftar tarif pengiriman
                </h2>
                <button
                    onclick="modalTambahTarif.toggle()"
                    type="button"
                    class="flex justify-center items-center gap-2.5 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm pr-5 pl-2.5 py-2.5 cursor-pointer"
                >
                    <span class="material-symbols-rounded"> add_2 </span>
                    <span>Tambah</span>
                </button>
            </div>

            <!-- Tabel -->
            <div class="overflow-x-auto">
                <table class="min-w-full text-sm text-left text-gray-600">
                    <thead class="text-xs text-gray-500 uppercase bg-gray-100">
                        <tr>
                            <th class="px-4 py-3">Destinasi</th>
                            <th class="px-4 py-3">Harga</th>
                            <th class="px-4 py-3">Jenis</th>
                            <th class="px-4 py-3">Moda</th>
                            <th class="px-4 py-3">Origin</th>
                            <th class="px-4 py-3">Rute</th>
                            <th class="px-4 py-3">Aksi</th>
                        </tr>
                    </thead>
                    <tbody
                        class="bg-white divide-y divide-gray-200"
                        id="tarif-pengiriman-container"
                    >
                        <!-- Skeleton loading -->
                        {% for i in range(10) %}
                        <tr>
                            <td class="px-4 py-3 font-medium text-gray-800">
                                <div
                                    class="h-5 bg-gray-200 rounded w-6 dark:bg-gray-700 animate-pulse"
                                ></div>
                            </td>
                            <td class="px-4 py-3">
                                <div
                                    class="h-5 bg-gray-200 rounded w-20 dark:bg-gray-700 animate-pulse"
                                ></div>
                            </td>
                            <td class="px-4 py-3">
                                <div
                                    class="h-5 bg-gray-200 rounded w-20 dark:bg-gray-700 animate-pulse"
                                ></div>
                            </td>
                            <td class="px-4 py-3">
                                <div
                                    class="h-5 bg-gray-200 rounded w-12 dark:bg-gray-700 animate-pulse"
                                ></div>
                            </td>
                            <td class="px-4 py-3">
                                <div
                                    class="h-5 bg-gray-200 rounded w-6 dark:bg-gray-700 animate-pulse"
                                ></div>
                            </td>
                            <td class="px-4 py-3">
                                <div
                                    class="h-5 bg-gray-200 rounded w-28 dark:bg-gray-700 animate-pulse"
                                ></div>
                            </td>
                            <td class="px-4 py-3 flex gap-2.5">
                                <div
                                    class="h-5 bg-gray-200 rounded w-10 dark:bg-gray-700 animate-pulse"
                                ></div>
                                <div
                                    class="h-5 bg-gray-200 rounded w-12 dark:bg-gray-700 animate-pulse"
                                ></div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <div
                class="flex gap-5 flex-col sm:flex-row items-center justify-between mt-6 text-sm text-gray-600"
            >
                <p id="info-data-ditampilkan">
                    Menampilkan 1 - 10 dari 50 data
                </p>
                <div aria-label="Page navigation example">
                    <ul
                        class="flex items-center -space-x-px h-8 text-sm"
                        id="page-number"
                    ></ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Modal per halaman -->
{% block modals %}
<!-- Modal tambah tarif -->
<div
    id="modal-tambah-tarif"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200"
            >
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Tambah tarif baru
                </h3>
                <button
                    type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
                    onclick="modalTambahTarif.toggle()"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form
                class="p-4 md:p-5"
                method="post"
                name="form-tambah-tarif"
                id="form-tambah-tarif"
            >
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <!-- Rute -->
                    <div class="col-span-2">
                        <label
                            for="rute"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Rute</label
                        >
                        <input
                            type="text"
                            name="rute"
                            id="rute"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Nama rute"
                            maxlength="32"
                            required
                        />
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>

                    <!-- Destinasi -->
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="destinasi"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Destinasi</label
                        >
                        <input
                            type="text"
                            name="destinasi"
                            id="destinasi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Destinasi"
                            maxlength="3"
                            minlength="3"
                            required
                        />
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>

                    <!-- Origin -->
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="origin"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Origin</label
                        >
                        <input
                            type="text"
                            name="origin"
                            id="origin"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Origin"
                            maxlength="3"
                            minlength="3"
                            required
                        />
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>

                    <!-- Jenis -->
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="jenis"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Jenis</label
                        >
                        <select
                            id="jenis"
                            name="jenis"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            required
                        >
                            <option value="" selected>Pilih jenis</option>
                            <option value="door to door">Door to Door</option>
                            <option value="door to port">Door to Port</option>
                            <option value="port to port">Port to Port</option>
                            <option value="port to door">Port to Door</option>
                        </select>
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>

                    <!-- Moda -->
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="moda"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Moda</label
                        >
                        <select
                            id="moda"
                            name="moda"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            required
                        >
                            <option value="" selected>Pilih moda</option>
                            <option value="darat">Darat</option>
                            <option value="udara">Udara</option>
                            <option value="laut">Laut</option>
                        </select>
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>

                    <!-- Harga -->
                    <div class="col-span-2">
                        <label
                            for="harga"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Harga</label
                        >
                        <input
                            type="number"
                            name="harga"
                            id="harga"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Harga perkg"
                            maxlength="6"
                            required
                        />
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>
                </div>
                <div class="flex items-center">
                    <button
                        type="submit"
                        class="text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 cursor-pointer"
                        onclick="tambahTarif(event)"
                    >
                        <svg
                            class="me-1 -ms-1 w-5 h-5"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                        Tambah
                    </button>
                    <button
                        onclick="modalTambahTarif.toggle()"
                        type="reset"
                        class="px-5 py-2.5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
                    >
                        Batal
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal edit tarif -->
<div
    id="modal-edit-tarif"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200"
            >
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Edit tarif
                </h3>
                <button
                    type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
                    onclick="modalEditTarif.toggle()"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form
                action="index"
                class="p-4 md:p-5"
                method="post"
                name="form-edit-tarif"
                id="form-edit-tarif"
            >
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <!-- Rute -->
                    <div class="col-span-2">
                        <label
                            for="rute"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Rute</label
                        >
                        <input
                            type="text"
                            name="rute"
                            id="rute"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Nama rute"
                            maxlength="32"
                            required
                        />
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>

                    <!-- Destinasi -->
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="destinasi"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Destinasi</label
                        >
                        <input
                            type="text"
                            name="destinasi"
                            id="destinasi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Destinasi"
                            maxlength="3"
                            minlength="3"
                            required
                        />
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>

                    <!-- Origin -->
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="origin"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Origin</label
                        >
                        <input
                            type="text"
                            name="origin"
                            id="origin"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Origin"
                            maxlength="3"
                            minlength="3"
                            required
                        />
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>

                    <!-- Jenis -->
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="jenis"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Jenis</label
                        >
                        <select
                            id="jenis"
                            name="jenis"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            required
                        >
                            <option value="" selected>Pilih jenis</option>
                            <option value="door to door">Door to Door</option>
                            <option value="door to port">Door to Port</option>
                            <option value="port to port">Port to Port</option>
                            <option value="port to door">Port to Door</option>
                        </select>
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>

                    <!-- Moda -->
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="moda"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Moda</label
                        >
                        <select
                            id="moda"
                            name="moda"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            required
                        >
                            <option value="" selected>Pilih moda</option>
                            <option value="darat">Darat</option>
                            <option value="udara">Udara</option>
                            <option value="laut">Laut</option>
                        </select>
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>

                    <!-- Harga -->
                    <div class="col-span-2">
                        <label
                            for="harga"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Harga</label
                        >
                        <input
                            type="number"
                            name="harga"
                            id="harga"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Harga perkg"
                            maxlength="6"
                            required
                        />
                        <p
                            class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"
                        >
                            Some error message.
                        </p>
                    </div>
                </div>
                <div class="flex items-center">
                    <button
                        type="submit"
                        class="text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 cursor-pointer"
                        id="simpan-perubahan-tarif"
                    >
                        <svg
                            class="me-1 -ms-1 w-5 h-5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7.414A2 2 0 0 0 20.414 6L18 3.586A2 2 0 0 0 16.586 3H5Zm10 11a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7V5h8v2a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        Simpan
                    </button>
                    <button
                        onclick="modalEditTarif.toggle()"
                        type="reset"
                        class="px-5 py-2.5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
                    >
                        Batal
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal konfirmasi hapus -->

<div
    id="modal-konfirmasi-hapus"
    tabindex="-1"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <button
                type="button"
                class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
                onclick="modalKonfirmasiHapus.toggle()"
            >
                <svg
                    class="w-3 h-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 14"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                    />
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
                <svg
                    class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                    />
                </svg>
                <h3
                    class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"
                >
                    Yakin ingin menghapus tarif ini?
                </h3>
                <button
                    id="tombolKonfirmasiHapus"
                    type="button"
                    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center cursor-pointer"
                >
                    Ya
                </button>
                <button
                    onclick="modalKonfirmasiHapus.toggle()"
                    type="button"
                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
                >
                    Tidak
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Js per halaman -->
{% block kontenjs %}
<script>
    // Variabel
    const formIsianTambahTarif = document.querySelectorAll(
        "#form-tambah-tarif input[required], #form-tambah-tarif select[required]"
    );
    const formIsianEditTarif = document.querySelectorAll(
        "#form-edit-tarif input[required], #form-edit-tarif select[required]"
    );

    const tarifPengirimanContainer = document.getElementById(
        "tarif-pengiriman-container"
    );
    const nomorHalaman = document.getElementById("page-number");
    const infoDataDitampilkan = document.getElementById(
        "info-data-ditampilkan"
    );

    // modal tambah tarif
    const modalTambahTarif = new Modal(
        document.getElementById("modal-tambah-tarif"),
        {
            backdrop: "dynamic",
            closable: true,
        }
    );

    // modal edit tarif
    const modalEditTarif = new Modal(
        document.getElementById("modal-edit-tarif"),
        {
            backdrop: "dynamic",
            closable: true,
        }
    );

    // modal konfirmasi hapus
    const modalKonfirmasiHapus = new Modal(
        document.getElementById("modal-konfirmasi-hapus"),
        {
            backdrop: "dynamic",
            closable: true,
        }
    );

    let currentPage;

    // Fungsi muat tarif pengiriman
    function muatTarifPengiriman(halaman) {
        let listTarifPengiriman = "";
        let listNomorHalaman = "";

        // Cek apakah "halaman" kosong?
        halaman == undefined ? (halaman = "") : (halaman = halaman);

        fetch("/admin/api/data/tarif?page=" + halaman, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            },
        })
            .then(async (respon) => {
                const data = await respon.json();
                if (!respon.ok) {
                    if (data.code === 404) {
                        tarifPengirimanContainer.innerHTML = `
                            <tr>
                                <td colspan="6">
                                    <p
                                        class="text-center font-bold text-gray-600 mt-5"
                                        id="info-tarif-pengiriman"
                                    >
                                        Tarif pengiriman tidak tersedia
                                    </p>
                                </td>
                            </tr>
                        `;

                        infoDataDitampilkan.textContent =
                            "Menampilkan 0 - 0 dari 0 data";

                        throw new Error(data.message || "Terjadi Kesalahan");
                    } else {
                        throw new Error(data.message || "Terjadi Kesalahan");
                    }
                }
                return data;
            })
            .then((data) => {
                data.data.forEach((tarif) => {
                    listTarifPengiriman += `
                        <tr>
                            <td class="px-4 py-3 font-medium text-gray-800">
                                ${tarif.destinasi}
                            </td>
                            <td class="px-4 py-3">${formatRupiah(
                                tarif.harga
                            )}</td>
                            <td class="px-4 py-3">${tarif.jenis}</td>
                            <td class="px-4 py-3">${tarif.moda}</td>
                            <td class="px-4 py-3">${tarif.origin}</td>
                            <td class="px-4 py-3">${tarif.rute}</td>
                            <td class="px-4 py-3 flex gap-2.5">
                                <a
                                    href="#"
                                    class="text-green-600 hover:underline text-sm font-medium"
                                    onclick="editTarif('${tarif._id}')"
                                    >Edit</a
                                >
                                <a
                                    href="#"
                                    class="text-red-600 hover:underline text-sm font-medium"
                                    onclick="hapusTarif('${tarif._id}')"
                                    >Hapus</a
                                >
                            </td>
                        </tr>
                    `;
                });

                tarifPengirimanContainer.innerHTML = listTarifPengiriman;

                // Info tambahan
                let mulai = (data.pagination.current_page - 1) * 10 + 1;
                let akhir = Math.min(
                    data.pagination.current_page * 10,
                    data.pagination.total_items
                );
                infoDataDitampilkan.textContent = `Menampilkan ${mulai} - ${akhir} dari ${data.pagination.total_items} data`;

                // Pagination
                let totalPages = data.pagination.total_pages;
                currentPage = data.pagination.current_page;
                let maxVisible = 5;
                let startPage, endPage;

                // Tambahkan tombol previous
                if (currentPage - 1 != 0) {
                    listNomorHalaman += `
                        <li>
                            <button
                                onclick="muatTarifPengiriman(${
                                    currentPage - 1
                                })"
                                class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"
                            >
                                <span class="sr-only">Previous</span>
                                <svg
                                    class="w-2.5 h-2.5 rtl:rotate-180"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 6 10"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M5 1 1 5l4 4"
                                    />
                                </svg>
                            </button>
                        </li>
                    `;
                }

                // Nomor halaman
                if (totalPages <= maxVisible) {
                    // Semua halaman ditampilkan
                    startPage = 1;
                    endPage = totalPages;
                } else {
                    if (currentPage <= 3) {
                        // Awal halaman
                        startPage = 1;
                        endPage = maxVisible;
                    } else if (currentPage >= totalPages - 2) {
                        // Mendekati akhir
                        startPage = totalPages - (maxVisible - 1);
                        endPage = totalPages;
                    } else {
                        // Tengah
                        startPage = currentPage - 2;
                        endPage = currentPage + 2;
                    }
                }

                for (let i = startPage; i <= endPage; i++) {
                    if (i === currentPage) {
                        listNomorHalaman += `
                            <li>
                                <button
                                    onclick="muatTarifPengiriman(${i})"
                                    aria-current="page"
                                    class="z-10 flex items-center justify-center px-3 h-8 leading-tight text-green-600 border border-green-300 bg-green-50 hover:bg-green-100 hover:text-green-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white cursor-pointer"
                                >${i}</button>
                            </li>
                        `;
                    } else {
                        listNomorHalaman += `
                            <li>
                                <button
                                    onclick="muatTarifPengiriman(${i})"
                                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"
                                >${i}</button>
                            </li>
                        `;
                    }
                }

                // Tambahkan tombol next
                if (currentPage != totalPages) {
                    listNomorHalaman += `
                        <li>
                            <button
                                onclick="muatTarifPengiriman(${
                                    currentPage + 1
                                })"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer"
                            >
                                <span class="sr-only">Next</span>
                                <svg
                                    class="w-2.5 h-2.5 rtl:rotate-180"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 6 10"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m1 9 4-4-4-4"
                                    />
                                </svg>
                            </button>
                        </li>
                    `;
                }

                // Masukan ke pegination
                nomorHalaman.innerHTML = listNomorHalaman;
            })
            .catch((error) => {
                console.error("Fetch error: ", error);
            });
    }

    // Jika ada perubahan value pada form
    formIsianTambahTarif.forEach((isian) => {
        isian.addEventListener("input", () => {
            inputNormal(isian.parentElement);
        });
    });
    formIsianEditTarif.forEach((isian) => {
        isian.addEventListener("input", () => {
            inputNormal(isian.parentElement);
        });
    });

    // Tambah tarif
    function tambahTarif(event) {
        event.preventDefault();

        const formTambahTarif = document.getElementById("form-tambah-tarif");
        const dataTambahTarif = new FormData(formTambahTarif);
        dataTambahTarif.append("tambahTarif", true);

        let validasi = true;

        formIsianTambahTarif.forEach((isian) => {
            if (isian.value == "") {
                validasi = false;
                inputSalah(isian.parentElement, "Wajib diisi");
            }
        });

        if (validasi) {
            fetch("/admin/api/data/tarif", {
                method: "POST",
                body: dataTambahTarif,
            })
                .then(async (respon) => {
                    const data = await respon.json();
                    if (!respon.ok) {
                        tampilkanAlertKesalahan(
                            "Terjadi kesalahan",
                            data.message
                        );
                        throw new Error(data.message || "Terjadi kesalahan");
                    }
                    return data;
                })
                .then((data) => {
                    modalTambahTarif.toggle();
                    tampilkanAlertBerhasil("Berhasil", data.message);
                    muatTarifPengiriman(currentPage);
                })
                .catch((error) => {
                    console.error("Fetch error: ", error);
                });
        }
    }

    // Edit tarif
    function editTarif(oid) {
        fetch("/admin/api/data/tarif?oid=" + oid, {
            method: "GET",
            headers: { "Content-Type": "application/json" },
        })
            .then(async (respon) => {
                const data = await respon.json();
                if (!respon.ok) {
                    throw new Error(data.message || "Terjadi kesalahan");
                }
                return data;
            })
            .then((data) => {
                // Ambil elm form
                const dataForm = document.querySelector("#form-edit-tarif");
                const rute = dataForm.querySelector("#rute");
                const destinasi = dataForm.querySelector("#destinasi");
                const origin = dataForm.querySelector("#origin");
                const jenis = dataForm.querySelector("#jenis");
                const moda = dataForm.querySelector("#moda");
                const harga = dataForm.querySelector("#harga");
                const tombolSimpan = dataForm.querySelector(
                    "#simpan-perubahan-tarif"
                );

                // Isi elm dengan data hasil fetch
                rute.value = data.data.rute;
                destinasi.value = data.data.destinasi;
                origin.value = data.data.origin;
                jenis.value = data.data.jenis;
                moda.value = data.data.moda;
                harga.value = data.data.harga;

                tombolSimpan.setAttribute(
                    "onclick",
                    `simpanPerubahanTarif(event, "${oid}")`
                );

                // Tampilkan modal edit tarif
                modalEditTarif.toggle();
            })
            .catch((error) => {
                console.error("Fetch error: ", error);
            });
    }

    function simpanPerubahanTarif(event, oid) {
        event.preventDefault();

        const formEditTarif = document.querySelector("#form-edit-tarif");
        const dataEditTarif = new FormData(formEditTarif);
        dataEditTarif.append("objekId", oid);
        dataEditTarif.append("editTarif", true);

        let validasi = true;

        formIsianEditTarif.forEach((isian) => {
            if (isian.value == "") {
                validasi = false;
                inputSalah(isian.parentElement, "Wajib diisi");
            }
        });

        if (validasi) {
            fetch("/admin/api/data/tarif", {
                method: "POST",
                body: dataEditTarif,
            })
                .then(async (respon) => {
                    const data = await respon.json();
                    if (!respon.ok) {
                        tampilkanAlertKesalahan(
                            "Terjadi kesalahan",
                            data.message
                        );
                        throw new Error(data.message || "Terjadi kesalahan");
                    }
                    return data;
                })
                .then((data) => {
                    modalEditTarif.toggle();
                    tampilkanAlertBerhasil("Berhasil", data.message);
                    muatTarifPengiriman(currentPage);
                })
                .catch((error) => {
                    console.error("Fetch error: ", error);
                });
        }
    }

    // Hapus tarif
    function hapusTarif(oId) {
        const tombolKonfirmasi = document.getElementById(
            "tombolKonfirmasiHapus"
        );
        tombolKonfirmasi.setAttribute(
            "onclick",
            `konfirmasiHapusTarif("${oId}")`
        );
        modalKonfirmasiHapus.toggle();
    }

    function konfirmasiHapusTarif(oId) {
        fetch("/admin/api/data/tarif", {
            method: "DELETE",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ ObjekId: oId }),
        })
            .then(async (respon) => {
                const data = await respon.json();
                if (!respon.ok) {
                    tampilkanAlertKesalahan("Terjadi kesalahan", data.message);
                    throw new Error(data.message || "Terjadi kesalahan");
                }

                return data;
            })
            .then((data) => {
                modalKonfirmasiHapus.toggle();
                tampilkanAlertBerhasil("Berhasil", data.message);
                muatTarifPengiriman(currentPage);
            })
            .catch((error) => {
                console.error("Fetch error: ", error);
            });
    }

    muatTarifPengiriman();
</script>
{% endblock %}
