<!-- Floating Sidebar -->

<div class="floating-sidebar bg-green-500 dark:bg-green-900">
    <a href="/customer/profile" title="Profile"
        ><span class="material-symbols-rounded text-white"> person </span></a
    >

    <a href="/customer/ongkir" title="Cek Ongkir"
        ><span class="material-symbols-rounded text-white"> payments </span></a
    >

    <a href="/customer/pesanan" title="Pesanan"
        ><span class="material-symbols-rounded text-white">
            add_shopping_cart
        </span></a
    >
    <a href="/customer/profile#bagian-buku-alamat" title="Buku Alamat"
        ><span class="material-symbols-rounded text-white">
            location_on
        </span></a
    >
    <a href="/customer/logout" title="Logout"
        ><span class="material-symbols-rounded text-white"> logout </span></a
    >
</div>
